{
    "swagger":"2.0",
    "info":{
        "version":"4.0.0",
        "title":"cdi-crud"
    },
    "host":"api.uber2.com",
    "basePath":"/cdi-crud/rest",
    "schemes":[
        "http"
    ],
    "tags":[
        {
            "name":"cars"
        }
    ],
    "paths":{
        "/cars/{id}":{
            "put":{
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json;charset=utf-8"
                ],
                "parameters":[
                    {
                        "type":"integer",
                        "name":"id",
                        "in":"path",
                        "required":true,
                        "description":"The identifier of the car to be updated"
                    },
                    {
                        "name":"body",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Car"
                        },
                        "description":"the changes to be applied"
                    }
                ],
                "responses":{
                    "204":{
                        "description":"No Content",
                        "headers":{
                        }
                    },
                    "400":{
                        "description":"Bad Request",
                        "headers":{
                        }
                    },
                    "404":{
                        "description":"Not Found",
                        "headers":{
                        }
                    },
                    "409":{
                        "description":"Conflict",
                        "headers":{
                        },
                        "schema":{
                            "$ref":"#/definitions/Car"
                        }
                    }
                },
                "tags":[
                    "cars"
                ]
            }
        }
    },
    "definitions":{
        "Car":{
            "properties":{
                "id":{
                    "type":"integer"
                },
                "model":{
                    "type":"string"
                },
                "name":{
                    "type":"string"
                },
                "price":{
                    "type":"number"
                },
                "version":{
                    "type":"integer"
                }
            }
        }
    }
}